strong {
  color: #403d39; }

.icon-primary {
  color: #f0d022; }

.icon-info {
  color: #8c93a1; }

.icon-success {
  color: #7db942; }

.icon-warning {
  color: #fba90a; }

.icon-danger {
  color: #f44336; }
